<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<head>

</head>
<body>
    <h1>Interfaz de programacion</h1>
    <img src="casa.jpg" alt="interface" style="width:700px;height:700px;">  
    
    <!--
        Esta seccion es de la parte de los botones pAra los bombillos
    -->
    <div style= "margin: -260px 0px 0px 460px; position:relative" >
        <button id=boton1 ng-click="accion1()" style="margin: 20px 50px 0px 0px; width:7%; height:10%" type="submit" class="btn btn-primary btn-block btn-flat">Bombillo 1</button>
    </div>

    <div style= "margin: -220px 0px 0px 470px; position:relative" >
        <button id=boton2 ng-click="accion2()" style="margin: 20px 50px 0px 0px; width:7%; height:10%" type="submit" class="btn btn-primary btn-block btn-flat">Bombillo 2</button>
    </div>

    <div style= "margin: -215px 0px 0px 470px; position:relative" >
        <button id=boton3 ng-click="accion3()" style="margin: 20px 50px 0px 0px; width:7%; height:10%" type="submit" class="btn btn-primary btn-block btn-flat">Bombillo 3</button>
    </div>
    
    <div style= "margin: 375px 0px 0px 150px; position:relative" >
        <button id=boton4 ng-click="accion4()" style="margin: 0px 0px 0px 0px; width:7%; height:10%" type="submit" class="btn btn-primary btn-block btn-flat">Bombillo 4</button>
    </div>

    <div style= "margin: -280px 0px 0px 125px; position:relative; width:10%; height:10%" >
        <button id=boton5 ng-click="accion5()" style="margin: 0px 0px 0px 0px; width:60%; height:10%" type="submit" class="btn btn-primary btn-block btn-flat">Bombillo 5</button>
    </div>

    
    
    <!--
        Esta seccion es de la parte de los botones para las puertas
    -->
    <div style= "margin: 250px 0px 0px 350px; position:relative" >
        <button id=principal ng-click="principal()" style="margin: 0px 0px 0px 0px; width:75px; height:10%" type="submit" class="btn btn-success btn-block btn-flat">Principal</button>
    </div>
    
    <div style= "margin: -214px 0px 0px 270px; position:relative" >
        <button id=cuarto1 ng-click="cuarto1()" style="margin: 0px 0px 0px 0px; width:75px; height:10%" type="submit" class="btn btn-success btn-block btn-flat">Cuarto 1</button>
    </div>
    
    <div style= "margin: -233px 0px 0px 320px; position:relative; width:75px; height:50px" >
        <button id=cuarto2 ng-click="cuarto2()" style="margin: 0px 0px 0px 0px; width:75px; height:50px" type="submit" class="btn btn-success btn-block btn-flat">Cuarto 2</button>
    </div>
    
    <div style= "margin: 45px 0px 0px 15px; position:relative; width:75px; height:50px" >
        <button id=tracera ng-click="tracera()" style="margin: 0px 0px 0px 0px; width:75px; height:50px" type="submit" class="btn btn-success btn-block btn-flat">Tracera</button>
    </div>
    
    
    <!--
        Esta seccion es de la parte de los botones generales de los bombillos y las puertas
    -->
    <div style= "margin: 375px 0px 0px 80px; position:relative" >
        <button id=bombillos ng-click="bombillos()" style="margin: 0px 0px 0px 0px; width:10%; height:10%" type="submit" class="btn btn-info btn-block btn-flat">Bombillos</button>
    </div>
    
    <div style= "margin: -34px 0px 0px 470px; position:relative" >
        <button id=puertas ng-click="puertas()" style="margin: 0px 0px 0px 0px; width:12%; height:10%" type="submit" class="btn btn-info btn-block btn-flat">Puertas</button>
    </div>
    


</body>

